body {
    background-color: #090051;
}
.profile {
  float: left;
  text-align: left;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: beige;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 60%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #0f0099;
  color: beige;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #282168;
  color: beige;
}