body {
    background-color: #090051;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    min-height: 97.9vh;
    display: flex;
    flex-direction: column;
    cursor:default;
}
.profile {
  float: left;
  text-align: left;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
  display: flex;
  align-items: centre;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: beige;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 60%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #0f0099;
  color: beige;
  transform: scale(1.1);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #282168;
  color: beige;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
}
footer {
    background-color: #000000;
    color: beige;
    text-align: center;
    padding: 1rem 0;
    font-size: 100%;
    position: relative;
    width: 100%;
    margin-top: auto;
    opacity: 0.7;
}
a img{
max-width: 23%;
max-height: 23%;
margin-top: 10%
}
