body {
    background-color: #090051;
    font-family: Arial, Helvetica, sans-serif;
}
H1 {
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    text-align: center;
}
hr {
  height: 0.5vw;
  border-width: 0;
  color: beige;
  background-color: beige;
  width: 75%;
}
.profile {
  float: left;
  text-align: left;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
  display: flex;
  align-items: centre;
  padding: 0.5rem;
}

/* Style the links inside the navigation bar */
.topnav a {
  flex: 1;
  color: beige;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 60%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #0f0099;
  color: beige;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #282168;
  color: beige;
}
.groepsfoto {
  width: 80%;
  height: 80%;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
}
 
 .text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
  color: beige;
  margin-left: 12.5%;
  margin-right: 12.5%;
 }
